<h1>Listing answers</h1>
 
<p>
  <%= link_to 'New Answer', new_answer_path %>
</p> 
 



<% @questions.each_with_index do |question,index| %>
  <p><%= question["question"] %></p>
  
  <% question["options"].each_with_index do |option,key| %>
    <li><%= option %> = <%= @distribution[index][key] ? @distribution[index][key] : 0 %></li>
  <% end %>
<% end %>

